<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <span th:replace="fragments/master_fragments :: head('e-BusTicket')"></span>
    <span th:replace="fragments/master_fragments :: common-css"></span>
    <link th:href="@{/common/css/login.css}" rel="stylesheet" />
  </head>

  <body class="nav-sm">
    <div th:replace="fragments/master_fragments :: top-navbar"></div>
    <div class="container-fluid text-center">
      <div class="row content">
        <div class="col-xs-0 col-md-2"></div>
        <div class="col-xs-12 col-md-8">
          <div class="jumbotron" style="height: 250px;">
            <p>
              Welcome ! Please Enter the OTP received in your mobile
            </p>
            <div class="col-xs-0 col-md-3"></div>
            <div class="col-xs-12 col-md-6">
              <div
                class="alert alert-danger"
                th:if="${msg != null && msg != ''}"
                th:text="${msg}"
              ></div>
              <label class="error-div" id="otp-error"
                >Please enter a valid OTP</label
              >
              <form
                th:action="@{/validateOtp}"
                method="POST"
                onsubmit="return doValidateOtp();"
              >
                <div class="input-group">
                  <span class="input-group-addon">Enter OTP</span>
                  <input
                    type="text"
                    name="otp"
                    id="otp"
                    placeholder="4 Digit OTP"
                    class="form-control"
                  />
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Go!</button>
                  </span>
                </div>
              </form>
            </div>
            <div class="col-xs-0 col-md-3"></div>
          </div>
        </div>
        <div class="col-xs-0 col-md-2"></div>
      </div>
    </div>
    <footer th:replace="fragments/master_fragments :: footer"></footer>
    <script th:replace="fragments/master_fragments :: common-js"></script>
    <div id="myModal" class="modal fade">
      <div class="modal-dialog modal-login">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Official Login</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
            >
              &times;
            </button>
          </div>
          <div class="modal-body">
            <form action="/examples/actions/confirmation.php" method="post">
              <div class="form-group">
                <i class="fa fa-user"></i>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Username"
                  required="required"
                />
              </div>
              <div class="form-group">
                <i class="fa fa-lock"></i>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  required="required"
                />
              </div>
              <div class="form-group">
                <input
                  type="submit"
                  class="btn btn-primary btn-block btn-lg"
                  value="Login"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <a href="#">Forgot Password?</a>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      function doValidateOtp() {
        $(".error-div").hide();
        $(".form-control").removeClass("error-border");
        if ($("#otp").val() === "" || isNaN($("#otp").val())) {
          $("#otp-error").show();
          $("#otp").addClass("error-border");
          return false;
        } else if ($("#otp").val().length != 4) {
          $("#otp-error").show();
          $("#otp").addClass("error-border");
          return false;
        }
        return true;
      }
    </script>
  </body>
</html>
